version: "3.8"

services:

  # -------- BookGenre_C --------
  bookgenre_c:
    image: bookgenre-c:latest
    build:
      context: ./bookgenre-c
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8083:8083"  # Porta externa do serviço
    networks:
      - lms_network
    volumes:
      - uploaded_files_bookgenre_c:/tmp

  # -------- BookGenre_Q --------
  bookgenre_q:
    image: bookgenre-q:latest
    build:
      context: ./bookgenre-q
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8084:8084"
    networks:
      - lms_network
    volumes:
      - uploaded_files_bookgenre_q:/tmp

  # -------- Authors_C --------
  authors_c:
    image: authors-c:latest
    build:
      context: ./authors-c
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8085:8085"
    networks:
      - lms_network
    volumes:
      - uploaded_files_authors_c:/tmp

  # -------- Authors_Q --------
  authors_q:
    image: authors-q:latest
    build:
      context: ./authors-q
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8086:8086"
    networks:
      - lms_network
    volumes:
      - uploaded_files_authors_q:/tmp

  # -------- lendings_c --------
  lendings_c:
    image: lendings_c:latest
    build:
      context: ./lendings_c
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8881:8080"
    networks:
      - lms_network

  # -------- lendings_q --------
  lendings_q:
    image: lendings_q:latest
    build:
      context: ./lendings_q
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8882:8080"
    networks:
      - lms_network

  # -------- Readers_C --------
  reader_c:
    image: reader-c:latest
    build:
      context: ./reader-c
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8087:8087"  # Porta externa do serviço
    networks:
      - lms_network
    volumes:
      - uploaded_files_reader_c:/tmp

  # -------- Reader_Q --------
  reader_q:
    image: reader-q:latest
    build:
      context: ./reader-q
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8088:8088"
    networks:
      - lms_network
    volumes:
      - uploaded_files_reader_q:/tmp

  # -------- AuthNUsers_C --------
  authnusers_c:
    image: authnusers-c:latest
    build:
      context: ./authnusers-c
    deploy:
      replicas: 2
    environment:
      - SPRING_PROFILES_ACTIVE=bootstrap,jpa
    ports:
      - "8089:8089"  # Porta externa do serviço
    networks:
      - lms_network
    volumes:
      - uploaded_files_authnusers_c:/tmp

#  # -------- Postgres --------
#  postgres:
#    image: postgres:16
#    environment:
#      - POSTGRES_USER=postgres
#      - POSTGRES_PASSWORD=password
#      - POSTGRES_DB=postgres
#    deploy:
#      replicas: 1
#    ports:
#      - "5432:5432"
#    networks:
#      - lms_network
#    volumes:
#      - postgres_data:/var/lib/postgresql/data
#      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  # -------- RabbitMQ --------
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    deploy:
      replicas: 1
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - lms_network

networks:
  lms_network:
    driver: overlay

volumes:
  uploaded_files_bookgenre_c:
  uploaded_files_bookgenre_q:
  uploaded_files_authors_c:
  uploaded_files_authors_q:
  uploaded_files_reader_c:
  uploaded_files_reader_q:
  uploaded_files_authnusers_c:
  postgres_data:
