
services:
    rabbitmq:
        image: rabbitmq:3-management
        restart: always
        ports:
            - "5672:5672" # RabbitMQ main port
            - "15672:15672" # RabbitMQ management UI
        environment:
            RABBITMQ_DEFAULT_USER: guest
            RABBITMQ_DEFAULT_PASS: guest
        networks:
            - lms_network
        healthcheck:
            test: [ "CMD", "rabbitmqctl", "status" ]
            interval: 10s
            retries: 5
            timeout: 5s

networks:
    lms_network:
        external: true
        driver: overlay
        attachable: true